@import "normalize.scss";

/* ------ MIXINS ------- */
@mixin breakpoint($point) {
    @if $point == TABLET {
        @media only screen and (max-width: 768px) { @content; }
    }
    @else if $point == MOBILE {
        @media only screen and (max-width: 600px) { @content; }
    }
    @else if $point == MOBILE_LANDSCAPE {
        @media only screen and (max-width: 600px) and (orientation:landscape) { @content; }
    }
}

/* ------ UTILS ------- */
%clearfix {
    zoom: 1;
    &:before{
        content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;
    }
    &:after{
        content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both;
    }
}

/* ------ COLORS ------- */
$cream:rgb(233,221,208);
$brown:rgb(87,63,50);
$tan:rgb(135,121,74);
$orange:rgb(177,141,74);
$green:rgb(105,118,100);

/* ------ CSS ------- */
//box size all the things!
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: 'Raleway', sans-serif; font-size:1rem; color:$brown; background:$cream; }



a { color:$green; text-decoration:none; }
h1 { font-family:'Bitter', serif; font-size:3rem; line-height:3.25rem; margin:0 0 15px 0; }
h2 { max-width:600px; font-family:'Bitter', serif; font-size:1.5rem; margin:0 0 10px 5px; padding-bottom:5px; border-bottom:3px solid $brown; }
h3 { margin:0; font-family:'Bitter', serif; font-size:0.75rem; }
p { line-height:1.5rem; }

body > header {
    margin:20px 0; padding:0 20px;
    h1 { text-align:center; }
    p { max-width:600px; text-align:center; margin:0 auto; }
}

body > section{
    margin:20px 0; padding:0 20px;
    &.search{
        & > div { width:300px; margin:0 auto; }
        input { width:300px; text-align:center; }
    }
    &.list{
        max-width:1000px; margin:0 auto;
        @extend %clearfix;
        a { padding:10px; display:block; float:left; color:$orange; }
    }
    &.recipe{
        header {
            margin-bottom:30px;
            h1 { max-width:600px; }
            h3 { max-width:560px; margin:0 0 0 30px; }
        }

        ul {
            margin:0 0 50px 50px;
            li { max-width:550px; margin-bottom:10px; line-height:1.5rem; }
        }
    }
}