@import "normalize.scss";

//--------------------------------------------------------------------------------------------------
//MIXINS
//--------------------------------------------------------------------------------------------------
@mixin breakpoint($point) {
    @if $point == TABLET {
        @media only screen and (max-width: 768px) { @content; }
    }
    @else if $point == MOBILE {
        @media only screen and (max-width: 600px) { @content; }
    }
    @else if $point == MOBILE_LANDSCAPE {
        @media only screen and (max-width: 600px) and (orientation:landscape) { @content; }
    }
}

//--------------------------------------------------------------------------------------------------
//UTILS
//--------------------------------------------------------------------------------------------------
%clearfix {
    zoom: 1;
    &:before{
        content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;
    }
    &:after{
        content: "\0020"; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; clear: both;
    }
}

//--------------------------------------------------------------------------------------------------
//COLORS
//--------------------------------------------------------------------------------------------------
$cream:rgb(233,221,208);
$brown:rgb(87,63,50);
$brown_50:rgba(87,63,50, 0.5);
$orange:rgb(177,141,74);

//--------------------------------------------------------------------------------------------------
//CSS
//--------------------------------------------------------------------------------------------------
//box size all the things!
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { padding-top:50px; font-family: 'Raleway', sans-serif; font-size:1rem; color:$brown; background:$cream; }


a { color:$orange; text-decoration:none; }
button { background:$orange no-repeat; color:$cream; border:3px solid $brown; margin:20px auto; padding:5px 10px; display:block; }
h1 { font-family:'Bitter', serif; font-size:3rem; line-height:3.25rem; margin:0 0 15px 0; }
h2 { max-width:600px; font-family:'Bitter', serif; font-size:1.5rem; margin:0 0 10px 5px; padding-bottom:5px; border-bottom:3px solid $brown; }
h3 { margin:0; font-family:'Bitter', serif; font-size:0.75rem; }
p { line-height:1.5rem; }

table{
    width:100%; max-width:1000px; margin:0 auto 30px; border-left: 1px solid $orange; border-right: 1px solid $orange;
    tr { border-bottom:1px solid $orange; }
    th { background:$brown; color:$cream; text-align:left; text-transform:uppercase; padding:5px; font-size:0.8em; }
    td { font-size:0.8em; padding:5px; }
}

body > header {
    margin:20px 0; padding:0 20px;
    h1 { text-align:center; }
    p { max-width:600px; text-align:center; margin:0 auto; }
}

body > nav {
    position:fixed; top:0; left:0; width:100%; background:$brown_50;
    .nav-wrapper { width:100%; max-width:1000px; margin:0 auto; padding-right:20px; }
    a {
        width:50px; height:50px; display:block; float:right; background:url('/images/icon_home.svg') $orange no-repeat; background-size:50%; background-position:50%; border:3px solid $brown;
        &.guide { background-image:url('/images/icon_guide.svg') }
        &.list { background-image:url('/images/icon_list.svg') }
    }
}

body > section{
    margin:20px 0; padding:0 20px;
    &.search{
        & > div { width:300px; margin:0 auto; }
        input { width:300px; text-align:center; }
    }
    &.list{
        max-width:1000px; margin:0 auto;
        @extend %clearfix;
        a { margin:10px; padding:10px; display:block; float:left; color:$orange; border:1px dashed $orange; border-radius:10px; }
    }
    &.recipe{
        header {
            margin-bottom:30px;
            h1 { max-width:600px; }
            h3 { max-width:560px; margin:0 0 0 30px; }
        }

        ul,ol {
            margin:0 0 50px 50px; padding:0;
            li {
                max-width:550px; margin-bottom:10px; line-height:1.5rem;
                &.active { list-style-image: url('/images/icon_shopping_cart.svg'); color:$orange;  }
            }
        }
        .ingredients li { cursor:pointer; }
    }

    &.guide{
        h1 { font-size: 2rem; text-align:center; }
    }
}

//--------------------------------------------------------------------------------------------------
//SHOPPING LIST
//--------------------------------------------------------------------------------------------------
#shopping-list {
    max-width:500px; margin:20px auto;
    li {
        max-width:500px; margin-bottom:5px; padding:10px 5px 10px 35px; background:$orange; cursor:pointer; list-style:none; color:$cream; position:relative;
        &:after { width:20px; height:20px; background:$cream; border:2px solid $brown; content:""; position:absolute; top:10px; left:5px; }
    }
    .checked li {
        background:$brown_50; text-decoration:line-through;
        &:after { background:url('/images/icon_x.svg') no-repeat 2px $cream; background-size:80%; }
    }
}