{
    "privateKeyPath": "~/.ssh/id_rsa",
    "host": "example.com",
    "port": 22,
    "username": "username",
    "appPath": "/home/troy/webapps/foodhow/",
    "preCommands": [
        "cd ~/webapps/foodhow; git pull origin master",
        "cd ~/webapps/foodhow; rm -rf dist"
    ],
    "postCommands": [
        "cd ~/webapps/foodhow; echo 'somePass' | sudo -S systemctl restart food-how.service"
    ]
}
