@import '../../../node_modules/@troyblank/food-how-components/assets/sass/base/base';

.recipe {
    margin: 20px 0;

    header {
        margin-bottom: 30px;

        h1 {
            max-width: 600px;
        }

        h3 {
            max-width: 560px;
            margin: 0 0 0 30px;
        }
    }

    ul, ol {
        margin: 0 0 50px 50px;
        padding: 0;

        li {
            max-width: 550px;
            margin-bottom: 10px;
            line-height: 1.5rem;
        }

        & > ol {
            margin: 0 0 0 15px;
            list-style-type: upper-alpha;
        }
    }
}

.direction-optional {
    margin: 10px 0;
    padding: 10px 0;
    border-top: 1px dashed;
    border-bottom: 1px dashed;
    opacity: .80;
}
