@import url('https://fonts.googleapis.com/css?family=Bitter:700|Raleway:500');
@import '../../../node_modules/normalize.css/normalize';
@import '../../../node_modules/@troyblank/food-how-components/assets/sass/global';
@import '../../sass/base';

input:focus {
    outline: none;
}

h1 {
    @extend %heading-primary;
}

h2 {
    max-width: 600px;
    margin: 0 0 10px 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid $color-brown;
    font-family: 'Bitter', serif;
    font-size: 1.5rem;
}

h3 {
    margin: 0;
    font-family: 'Bitter', serif;
    font-size: .75rem;
}

table {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 30px;
    border-right: 1px solid $color-orange;
    border-left: 1px solid $color-orange;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid $color-orange;
    }

    th {
        padding: 5px;
        background: $color-brown;
        color: $color-cream;
        font-size: .8em;
        text-align: left;
        text-transform: uppercase;
    }

    td {
        padding: 5px;
        font-size: .8em;
    }
}

body > header {
    margin: 20px 0;
    padding: 0 20px;

    h1 {
        text-align: center;
    }

    p {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
}

body > section {
    margin: 20px 0;
}
