{% extends "base.html" %}

{% block content %}
<section class="guide">
    <h1>Meet your Meats</h1>
    <table>
        <tr>
            <th>Meat</th>
            <th>Rare</th>
            <th>Medium</th>
            <th>Done</th>
        </tr>
        <tr>
            <td>Chicken</td>
            <td>194&deg;</td>
            <td>194&deg;</td>
            <td>194&deg;</td>
        </tr>
        <tr>
            <td>Steak</td>
            <td>194&deg;</td>
            <td>120&deg;</td>
            <td>194&deg;</td>
        </tr>
        <tr>
            <td>Pork</td>
            <td>194&deg;</td>
            <td>150&deg;</td>
            <td>194&deg;</td>
        </tr>
    </table>
</section>
{% endblock %}