.shopping-list {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px auto 0;
    padding: 0 0 100px;
}

.shopping-list__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.shopping-list__clear-button {
    width: 100%;
    margin: 20px 0
}

.shopping-list__no-result-message {
    margin: 20px auto
}

.shopping-list__loading {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
