.ingredient {
    button {
        border: 0;
        background: transparent;
        cursor: pointer;
    }
}

.ingredient--active {
    list-style-image: url('/static/icons/icon_shopping_cart.svg');

    button {
        color: $color-orange;
    }
}

.ingredient--is-link {
    margin-left: -17px;
    list-style-type: none;
}
