{% extends "base.html" %}

{% block content %}
<section class="recipe">
    <header>
        <h1>{{ title }}</h1>
        <h3>{{ meta }}</h3>
    </header>
    <section>
        <h2>Ingredients</h2>
        <ul class="ingredients">
            {% for ingredient in ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </section>
    <section>
        <h2>Directions</h2>
        <ol class="directions">
            {% for direction in directions %}
                <li>{{ direction }}</li>
            {% endfor %}
        </ol>
    </section>
</section>
{% endblock %}