.unchecked-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.category {
	width: 100%;
}

.categoryHeading {
	margin: 0 0 10px;
	padding-bottom: 5px;
	font-family: 'Bitter', serif;
	font-size: 18px;
	color: var(--color-brown);
	border-bottom: 1px solid var(--color-brown);
}

.categoryList {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	width: 100%;
	margin: 0;
	padding: 0;
}

